.container h2 {
	background-color: #606060;
	color: white;
	border-radius: 5px;
	padding: 5px 10px;
}

.table .ratio,
.table .time  {
	width: 100px;
	text-align: center;
	vertical-align: middle;
}

.table .percent {
	padding: 5px 0px;
	border-radius: 5px;
	font-weight: bold;
}

.table .hook_type {
	width: 200px;
	vertical-align: middle;
}

.table pre {
	margin: 0px;
}